/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.site-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0 0 1em -0.75em;
}

.site-header h2 {
  margin-bottom: 0.25em;
}

.site-header .site-logo {
  height: 4em;
}

.container {
  min-height: 100vh;
  padding-top: 1em;
}

#new-switch {
  padding-bottom: 4em;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 3em;
}

.form-inline {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 0;
}

.form-inline label {
  margin: 0.5em 1em 0.5em 0;
}

.form-inline input,
.form-inline button {
  vertical-align: middle;
  margin: 0.5em 1em 0.5em 0;
}

.alert {
  padding: 1em;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 0.5em;
}

.notice {
  padding: 1em;
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

.switch-state {
  min-width: 3em;
}

.switch-state-on {
  font-weight: bold;
}

input.turn-off {
  min-width: 12em;
  background: rgba(255, 0, 0, 0.25);
}

input.turn-on {
  background: rgba(0, 255, 0, 0.25);
  min-width: 12em;
}
