<h1>Switches</h1>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<table id="switches">
  <thead>
    <th>Name</th>
    <th>State</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th><!-- Actions --></th>
  </thead>
  <tbody>
    <%= render @switches %>
  </tbody>
</table>

<div id="new-switch">
  <%= render "form", switch: @switch %>
</div>
